| <script src="/swiper.min.js"></script>
| <script>
|   var swiper = new Swiper('.swiper-container', {
|     slidesPerView: 1,
|     centeredSlides: true,
|     spaceBetween: 36,
|     loop: true,
|     pagination: {
|       el: '.swiper-pagination',
|       clickable: true,
|     },
|     navigation: {
|       nextEl: '.photo__btn-next',
|       prevEl: '.photo__btn-prev',
|     },
|   });
| </script>