footer.footer._s
    form._container._row(action="/mail.php" method="post")
        .footer__insider
        h3.footer__caption._col-12._col-md-8._col-lg-6._offset-lg-1
            | На&nbsp;основе 30&nbsp;летнего опыта мы&nbsp;знаем,
            | как сделать бизнес успешным!
        .footer__text._col-12._col-lg-6._offset-lg-1
            | Станьте нашим партнером &laquo;3D&nbsp;Dental&raquo; и&nbsp;начните
            br
            | зарабатывать от&nbsp;2&nbsp;500&nbsp;000 тенге в&nbsp;месяц!
        ._col-12._col-lg-6._offset-lg-1
            input.input(name="name" type="text" placeholder="Ваше имя" required="required")
        ._col-12._col-lg-6._offset-lg-1
            input.input(name="phone" type="tel" placeholder="Ваш телефон" required="required")
        ._col-12._col-lg-6._offset-lg-1
            input.input(name="email" type="email" placeholder="Ваш e-mail")
        ._col-12._col-lg-11._offset-lg-1.footer__button-box
            button.button.footer__btn(type="send")
                i._btn-ico
                | Связаться с&nbsp;франчайзером
            br
            .form-group(style="margin-left: 14px;margin-bottom: 11px;display: flex;align-items: center;")
                input#check(type="checkbox" checked="checked" required="required" style="margin-right: 6px;width: 15px;height: 15px;margin-top: -2px;")
                label._s(for="check")
                    | Даю согласие на&nbsp;обработку&nbsp;
                    a.link._s(href="/privacy-policy/") персональных данных
        ._col-12._col-md-6._offset-lg-1.footer__list
            .footer__item Office.dent@bk.ru
            .footer__item 8-701-141-71-38
            .footer__item www.3d-dental.kz
        ._col-12._col-md-6.footer__list
            .footer__item Казахстан
            .footer__item г. Нур-Султан
            .footer__item ул. Кабанбай батыра, 12