meta(charset="utf-8")

title= "Name"

meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Описание")
meta(name="keywords", content="Ключевые слова")
meta(name="robots", content="index, follow")
meta(property="og:title", content="Name")
meta(property="og:description", content="Описание")
meta(property="og:url", content="//test")
meta(property="og:type", content="website")
meta(property="og:image", content="//test/img/image.jpg")
meta(property="og:locale", content="ru_RU")
link(rel="icon", sizes="32x32", href="//test/favicon.ico")
link(rel="apple-touch-icon-precomposed", href="//test/img/image-180x180.jpg")
meta(name="msapplication-TileImage", content="//test/img/image-270x270.jpg")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap&subset=cyrillic", media="all")
