doctype html
html(lang="ru-RU")
  head
    include _head
  body
    .wrapper
      include _counters
      .wrap-container
        include _top-menu
        main.main
          block content
      include _footer
      include _end
