/*
  550 mobile
*/

@media (min-width: 576px) {

}

/*
  750 tablets
*/

@media (min-width: 768px) {
  h1, .body0 {
    font-size: 1.625rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .body1 {
    font-size: 1.125rem;
  }
}

/*
  750 tablet landscape
*/

@media (min-width: 768px) and (orientation: landscape) {

}

/*
  960 desktops
*/

@media (min-width: 992px) {
  h1, .body0 {
    font-size: 2.25rem;
  }
}

/*
  1170 full 2k
*/

@media (min-width: 1200px) {

}