$default-font: 'Roboto', sans-serif;

$background-color: #171a1f;
$p-background-color: #ffffff;

$p-color: #3f5cb7;
$s-color: #283593;

$p-active-color: #b7b7b7;
$s-active-color: #b7b7b7;

$p-icon-disable: #949bca;
$p-icon-active: #ffffff;

$p-text-color: #ffffff;
$s-text-color: #171a1f;