$default-font: 'Roboto', sans-serif;

$background-color: #ffffff;
$p-background-color: #ffffff;

$p-color: #03264a;
$s-color: #ffffff;

$p-active-color: #d3ab72;
$s-active-color: #d3ab72;

$p-icon-disable: #949bca;
$p-icon-active: #ffffff;

$p-text-color: #03264a;
$s-text-color: #ffffff;