extends layout/main

block content
    include index/_header
    include index/_business
    include index/_photo
    include index/_about
    include index/_benefit
    include index/_conditions
    include index/_package
    include index/_steps