.about
    ._container._row
        .about__insider._col-lg-6._offset-lg-6
            .about__logo
                img.header__logo(src="../svg/logo2.svg")
            .about__text 
                | Современные тенденции выводят заботу о здоровье собственного
                br
                | организма на первый план. Отказываясь от бесплатных услуг
                br
                | государственных лечебных учреждений, клиенты прибегают к услугам
                br
                | специализированных частных клиник и диагностических центров,
                br
                | что влечет за собой возрастание популярности подобных заведений
                br
                |в качестве перспективного вида предпринимательской деятельности
                img.about__print(src="../svg/ico.svg")
