section.about
    ._container._row
        ._col-lg-5
            img.about__woman(src="../img/pic.png")
        .about__insider._col-lg-6
            .about__logo-box
                img.about__logo(src="../svg/logo2.svg" "3D Dental")
            .about__text-box
                .about__text
                    | Современные тенденции выводят заботу о&nbsp;здоровье собственного
                    | организма на&nbsp;первый план. Отказываясь от&nbsp;бесплатных услуг
                    | государственных лечебных учреждений, клиенты прибегают
                    | к&nbsp;услугам специализированных частных клиник
                    | и&nbsp;диагностических центров, что влечет за&nbsp;собой возрастание
                    | популярности подобных заведений в&nbsp;качестве перспективного
                    | вида предпринимательской деятельности