section.benefit
    ._container._row
        ._offset-lg-1._col-lg-10._ptb-n
            .benefit__insider-box
                .benefit__insider._row
                    h3._col-12.benefit__caption
                        | Основные моменты, почему выгодно
                        br
                        | открыть свой собственный диагностический центр:
                    ._col-12.benefit__item
                        | По&nbsp;данным wordstat за&nbsp;2017-2018&nbsp;г.
                        span.benefit__strong
                            |  спрос
                            br
                            | на&nbsp;стоматологические услуги вырос на&nbsp;12%
                    ._col-12.benefit__item
                        span.benefit__strong
                            | 90% пациентов стоматологических клиник направляются
                            br
                            | в&nbsp;диагностические центры
                    ._col-12.benefit__item
                        span.benefit__strong
                            | 97% жителей страдают от&nbsp;заболеваний зубов,
                        br
                        | что является причиной посещения стоматолога
                    ._col-12.benefit__item
                        span.benefit__strong
                            | Стоматология остается неизменным лидером
                        br
                        | в&nbsp;топе коммерческой медицины с&nbsp;2010 года
                    ._col-12.benefit__item
                        span.benefit__strong
                            | Стоматологические услуги относятся к&nbsp;одному из&nbsp;самых
                            br
                            | прибыльных видов бизнеса
                        |  в&nbsp;сфере оказания медицинских услуг
                    ._col-12.benefit__item
                        span.benefit__strong
                            | Данный вид бизнеса можно передавать по&nbsp;наследству,
                        br
                        | поскольку стоматологические услуги всегда были и&nbsp;будут востребованы
        .benefit__ellipse._offset-lg-1._col-lg-10._ptb-n
            .benefit__footer.body0
                | Чтобы построить успешный бизнес, без проб и&nbsp;ошибок, станьте
                | партнером надежной компании &laquo;3D&nbsp;Dental&raquo;. Мы&nbsp;готовы
                | поделиться с&nbsp;Вами 30-летним опытом, знаниями и&nbsp;фишками
                | ведения всех бизнес-процессов