section.business
    ._container.business__ellipse-box
        .business__ellipse
    ._container._row
        h3.business__caption._col-12._col-lg-9._offset-lg-1
            | Диагностический центр &laquo;3D&nbsp;Dental&raquo;&nbsp;&mdash; это успешный
            | и&nbsp;долговечный бизнес
        ._col-12._col-lg-10._offset-lg-1._p-n._row
            ._col-12._col-lg-6._row
                .business__big-text 55%
                .business__text._row
                    | рентабельность бизнеса
            ._col-12._col-lg-6._row
                .business__big-text._plus 5000
                .business__text._row
                    | довольных клиентов
            ._col-12._col-lg-6._row
                .business__big-text._plus 5000
                .business__text._row
                    | проведенных исследований
                    br
                    | за&nbsp;2018 год
            ._col-12._col-lg-6._row
                .business__big-text._from 50%
                .business__text._row
                    | маржинальность услуг
    .business__line
    ._container._row
        ._col-12._col-lg-10._offset-lg-1._row
            .business__big-text 25.000.000
            .business__text._row
                | тенге составила чистая прибыль за&nbsp;2018 год