._container._row
    .conditions._offset-lg-1._col-lg-10
        header.conditions__header
            | Условия сотрудничества
        .conditions__itemWrapper._row
            .conditions__itemWrapper_text._offset-lg-1
                | Пакет первоначальный
            ul.conditions__itemWrapper_items._offset-lg-1  
                li.conditions__itemWrapper_item 
                    | Право на использование бренда «3D Dental»
                li.conditions__itemWrapper_item 
                    | Консультационная поддержка на протяжении 
                    br
                    | всего партнерства
                li.conditions__itemWrapper_item 
                    | Детальный план открытия центра
                li.conditions__itemWrapper_item 
                    | Помощь в получении лицензии
                li.conditions__itemWrapper_item 
                    | Чек-лист по подбору помещения 
                    br
                    | и его обустройству по требованиям СанПин
                li.conditions__itemWrapper_item 
                    | Рекомендованный список поставщиков 
                li.conditions__itemWrapper_item 
                    | Помощь в подборе персонала: 
                    br
                    | должностные инструкции, сценарии проведения (скрипты)
                    br 
                    | собеседования и пр. 
                li.conditions__itemWrapper_item
                    | BrandBook, включающий в себя разработанные 
                    br
                    | макеты баннеров, флаеров, листовок, визиток, 
                    br 
                    | фирменной символики, вывески и пр.
                li.conditions__itemWrapper_item
                    | Разработка дизайна интерьера (до 100 кв.м.)
                li.conditions__itemWrapper_item 
                    | Франчбук – руководство по управлению 
                    br
                    | франчайзинговым предприятием
            .conditions__itemWrapper_text._offset-lg-1  
                | Паушальный взнос 3.000.000 тенге
            .conditions__itemWrapper_text._offset-lg-1  
                | Роялти с 3 месяца 10%