section.conditions
    ._container._row
        ._offset-lg-1._col-lg-10._ptb-n
            h3.conditions__caption
                | Условия сотрудничества
    .conditions__number
        ._container._row
            ._offset-lg-1._col-lg-10._ptb-n
                .conditions__box
                    .conditions__title
                        | Пакет первоначальный
                    ul.conditions__list
                        li.conditions__item
                            | Право на&nbsp;использование бренда &laquo;3D&nbsp;Dental&raquo;
                        li.conditions__item
                            | Консультационная поддержка на&nbsp;протяжении
                            br
                            | всего партнерства
                        li.conditions__item
                            | Детальный план открытия центра
                        li.conditions__item
                            | Помощь в&nbsp;получении лицензии
                        li.conditions__item
                            | Чек-лист по&nbsp;подбору помещения
                            br
                            | и&nbsp;его обустройству по&nbsp;требованиям СанПин
                        li.conditions__item
                            | Рекомендованный список поставщиков
                        li.conditions__item
                            | Помощь в&nbsp;подборе персонала:
                            br
                            | должностные инструкции, сценарии проведения (скрипты)
                            br
                            | собеседования и&nbsp;пр.
                        li.conditions__item
                            | BrandBook, включающий в&nbsp;себя разработанные
                            br
                            | макеты баннеров, флаеров, листовок, визиток,
                            br
                            | фирменной символики, вывески и&nbsp;пр.
                        li.conditions__item
                            | Разработка дизайна интерьера (до&nbsp;100 кв.м.)
                        li.conditions__item
                            | Франчбук&nbsp;&mdash; руководство по&nbsp;управлению
                            br
                            | франчайзинговым предприятием
                    .conditions__title
                        | Паушальный взнос 3.000.000 тенге
                    .conditions__title
                        | Роялти с&nbsp;3&nbsp;месяца&nbsp;10%