header.header
    ._container._row._s
        ._col-12._col-lg-10._offset-lg-1._row._ptb-n.header__logoWpapper
            img.header__logo(src="svg/logo.svg" alt="3D Dental")
        h1._col-12._col-lg-10._offset-lg-1.header__caption
            | Откройте свой собственный
            br
            | диагностический центр &laquo;3D&nbsp;DENTAL&raquo;
            br
            | с&nbsp;ежемесячной прибылью
            span._g  от&nbsp;2.500.000 тенге
        ._col-12._col-lg-10._offset-lg-1.header__investment._g
            | Инвестиции: от&nbsp;26.000.000 тенге
        ._col-12._col-lg-8._offset-lg-1._row._p-n
            .header__text-item._col-12._col-md-6
                | Отсутствие фактора сезонности
                br
                span.header__text-small
                    |спрос на&nbsp;услуги круглый год
            .header__text-item._col-12._col-md-6
                | Проверенный бизнес
                br
                span.header__text-small
                    | на&nbsp;основе 15&nbsp;летнего опыта
                    br
                    | в&nbsp;стоматологической сфере
            .header__text-item._col-12._col-md-6
                | Широкий возрастной диапазон
                br
                span.header__text-small
                    | взрослые и&nbsp;дети от&nbsp;6&nbsp;лет
        ._col-12._col-lg-10._offset-lg-1._ptb-n.header__buttonDownload
            label.button.header__btn(for="modal-close")
                i._btn-ico
                | Скачать презентацию
        