section.package._s
    ._container._row
        ._offset-lg-1._col-lg-10._ptb-n
            .package__box
                .package__ellipse
                h3.package__caption
                    | Пакет  эксклюзив
                .package__text._first
                    | Пакет первоначальный +
                ul.package__list
                    li.package__item
                        | Рекомендованный список  поставщиков и консультации
                        br
                        | по покупке оборудования
                    li.package__item
                        | Обучение персонала: консультационная
                        br
                        | и образовательная поддержка до и после открытия центра
                    li.package__item
                        | Рекомендации по рекламе и маркетингу — описание всех
                        br
                        | инструментов, за счет которых франчайзер привлекает клиентов
                    li.package__item
                        | Юридическая поддержка
                    li.package__item
                        | Эксклюзив на город

                .package__text
                    | Паушальный взнос 6.000.000 тенге
                .package__text
                    | Роялти с 3 месяца 13%
                .package__btn-box
                    label.button.package__btn(for="modal-close")
                        i._btn-ico
                        | Задать вопрос