._container._row
    .package._offset-lg-1._col-lg-10._row   
        .package__insider._offset-lg-1
            .package__insider_text 
                | Пакет  эксклюзив
            .package__insider_headerItems 
                | Пакет первоначальный + 
            ul.package__insider_items
                li.package__insider_item
                    | Рекомендованный список  поставщиков и консультации 
                    br
                    | по покупке оборудования
                li.package__insider_item
                    | Обучение персонала: консультационная 
                    br
                    | и образовательная поддержка до и после открытия центра
                li.package__insider_item
                    | Рекомендации по рекламе и маркетингу — описание всех 
                    br
                    | инструментов, за счет которых франчайзер привлекает клиентов
                li.package__insider_item
                    | Юридическая поддержка 
                li.package__insider_item
                    | Эксклюзив на город
             
            .package__insider_text 
                | Паушальный взнос 6.000.000 тенге
            .package__insider_text 
                | Роялти с 3 месяца 13%
            button.button
                | Задать вопрос
