section.photo
    ._container._row
        ._col-12._col-lg-10._offset-lg-1
            h3.photo__caption
                | Фотографии диагностического центра &laquo;3D&nbsp;Dental&raquo;
        ._col-12._col-lg-10._offset-lg-1
            .photo__btn-prev
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="/img/1.png")
                    .swiper-slide
                        img(src="/img/2.jpg")
                    .swiper-slide
                        img(src="/img/3.jpg")
                    .swiper-slide
                        img(src="/img/4.jpg")
                    .swiper-slide
                        img(src="/img/5.jpg")
                .swiper-pagination
            .photo__btn-next