section.steps
    ._container._row
        ._offset-lg-1._col-lg-10
            h3.steps__caption
                | Основные шаги для открытия высокорентабельного бизнеса:
        ._col-md-6._col-lg-3._offset-lg-1._i1
            .steps__item._s._right._md-right
                | Подписание договора
        ._col-md-6._col-lg-4._i2
            .steps__item._s._right._md-bot
                | Запуск рекламной кампании
        ._col-md-6._col-lg-3._i3
            .steps__item._s._bot._md-left
                | Поиск помещения
        ._col-md-6._col-lg-4._offset-lg-1._i6
            .steps__item._s._bot
                | Покупка всего оборудования
        ._col-md-6._col-lg-3._i5
            .steps__item._s._left._md-right
                | Регистрация&nbsp;юр. лица
        ._col-md-6._col-lg-3._i4
            .steps__item._s._left._md-bot
                | Проведение ремонта
        ._col-md-6._col-lg-4._offset-lg-1._i7
            .steps__item._s._right._md-left
                | Лицензирование бизнеса
        ._col-md-6._col-lg-6._i8
            .steps__item._s._bot._big
                | Поиск квалифицированного персонала и&nbsp;обучение
        ._col-md-6._col-lg-4._offset-lg-4._i10
            .steps__item._s._last
                | Получение прибыли
        ._col-md-6._col-lg-3._i9
            .steps__item._s._left._md-right
                | Открытие центра