._container._row
    .steps._offset-lg-1._col-lg-10._row
        .steps__header 
            | Основные шаги для открытия высокорентабельного бизнеса:
        .steps__itemsWrap._row 
            .steps__item.steps__item_short 
                .steps__item_arrow
                    img.steps__item_arrow_img(src="../svg/Vector.svg")
                | Подписание договора
            .steps__item.steps__item_long 
                .steps__item_arrow
                    img.steps__item_arrow_img(src="../svg/Vector.svg")
                | Запуск рекламной кампании
            .steps__item.steps__item_short 
                | Поиск помещения
            .steps__item.steps__item_long 
                .steps__item_arrow
                    img.steps__item_arrow_img.steps__item_arrow_img_right(src="../svg/Vector.svg")
                | Покупка всего оборудования
            .steps__item.steps__item_short 
                .steps__item_arrow
                        img.steps__item_arrow_img.steps__item_arrow_img_right(src="../svg/Vector.svg")
                | Регистрация юр. лица
            .steps__item.steps__item_short 
                | Проведение ремонта
            .steps__item.steps__item_long 
                .steps__item_arrow
                        img.steps__item_arrow_img(src="../svg/Vector.svg")
                | Лицензирование бизнеса
            .steps__item.steps__item_verylong 
                | Поиск квалифицированного персонала и обучение
            .steps__item.steps__item_long 
                .steps__item_arrow
                        img.steps__item_arrow_img.steps__item_arrow_img_right(src="../svg/Vector.svg")
                | Получение прибыли
            .steps__item.steps__item_short 
                | Открытие центра
